* text=auto
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Archivos binarios que no deben ser modificados
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.zip binary