@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headerBg: #ffffff;
  --headerText: #000000;
  --primary: #e94243;
  --btnPrimaryText: #ffffff;
}

/* Custom styles */
.editor-container .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}
.editor-container .ql-container {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

/* Restore default button background */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--btnPrimaryText) !important;
}

.header-custom {
  background-color: var(--headerBg);
  color: var(--headerText);
}
